.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 26px 20px 56px;
}

/* Titres généraux */
.page-title{
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 8px 0;
}

.page-subtitle{
  margin:0;
  color: var(--muted);
  font-size: 16px;
}